<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newdemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Material"
        tools:replace="android:allowBackup">
        <activity android:name=".activity.UserPaymentDetails"></activity>
        <activity android:name=".activity.PlaceOrder" />
        <activity android:name=".activity.OrderHistoryDetails" />
        <activity android:name=".activity.DealOfTheDay" />
        <activity android:name=".activity.TopSellingProduct" />
        <activity android:name=".activity.Profile_User" />
        <activity
            android:name=".activity.VegetableActivity"
            android:label="Vegetables" />
        <activity
            android:name=".activity.FruitsActivity"
            android:label="Fruits" />
        <activity
            android:name=".activity.SplashActivity"
            android:theme="@style/AppTheme.Material.NoActionBar.Blue">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.ForgotPassword" />
        <activity
            android:name=".activity.HomeActivity"
            android:label="RJ Veg" />
        <activity android:name=".activity.LoginScreen" />
        <activity android:name=".activity.PaymentActivity" />
        <activity android:name=".activity.MainActivity" />
    </application>

</manifest>